{{ define "main" }}
<h1>{{ .Title }} </h1>

    {{ $link := "<a href=\".\"><span class=\"microblog-number\" >#0</span></a>: "}}
    {{ .Content | replaceRE "#0#:" ($link) | safeHTML }}
    {{ range .Pages }}
        {{ $number := (.File.BaseFileName | replaceRE "2021." "" | replaceRE "^0+" "") }}
        {{ $content := .Content | replaceRE "<p>(.*)</p>" "$1" | safeHTML }}
        <p>
            <a href="{{ .File.BaseFileName }}"><span class="microblog-number" >#{{- $number -}}</span></a>: 
            {{ $content -}}
        </p>
    {{ end }}
    <span id="bottom"></span>
{{ end }}