{{ define "main" }}
<h1>{{ .Title }}</h1>
    {{- $link := "<a href=\".\"><span class=\"microblog-number\" >#0</span></a>: " }}
    <section id="#0">
        <h2 style="display: none;">#0</h2>
        {{ .Content | replaceRE "#0#:" ($link) | safeHTML }}
    </section>

{{- range .Pages -}}
    {{- $number := (.File.BaseFileName | replaceRE "2021." "" | replaceRE "^0+" "") -}}
    {{- $link := printf "<p><a href=#%s><span class=\"microblog-number\" >#%s</span></a>: " $number $number -}}
    {{- $content := replaceRE "<p>" $link .Content 1 -}}
    <section id="{{- $number -}}">
        <h2 style="display: none;">#{{- $number -}}</h2>
        {{- $content | safeHTML -}}
    </section>
{{- end -}}
    <section id="bottom"></section>
{{ end }}