<style>
  :root {
    --base-font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Noto Sans", "Helvetica Neue", Arial, sans-serif;
    --base-font-size: 18px;
    --base-line-height: 30px;
    --monospace-font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --monospace-font-size: 1.65rem;
    --monospace-line-height: 1.5;
    --content-max-width: 640px;
    --color-text-default: #444;
    --color-text-offset: #686c71;
    --color-background-default: #fff;
    --color-background-offset: #f5f6f7;
    --color-primary: #005aff;
    --color-border: #dfe1e2;
    --color-code-text: #b21d38;
    --color-code-background: #fff2f5;
    --inverted-font-color: #fff;
    --inverted-background-color: #233c51;
    --inverted-accent-color: #ffbe2e;
    --inverted-focus-ring-color: hsla(49, 100%, 49%, 0.5);
    --color-tomorrow-background: #202020;
    --color-tomorrow-foreground: #eaeaea;
    --color-tomorrow-red: #f1486d;
    --color-tomorrow-orange: #e78c45;
    --color-tomorrow-yellow: #e7c547;
    --color-tomorrow-green: #b9ca4a;
    --color-tomorrow-blue: #7aa6da;
    --color-tomorrow-cyan: #9cdcfe;
    --color-tomorrow-purple: #c397d8;
    --color-tomorrow-comment: #969896
  }

  html {
    box-sizing: border-box;
    background-repeat: no-repeat;
    -webkit-text-size-adjust: 100%
  }

  @font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: local("Nunito"),
      url(/fonts/nunito-v16-latin-regular.woff2) format("woff2"),
      url(/fonts/nunito-v16-latin-regular.woff) format("woff")
  }

  @font-face {
    font-family: Nunito;
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: local("Nunito"),
      url(/fonts/nunito-v16-latin-italic.woff2) format("woff2"),
      url(/fonts/nunito-v16-latin-italic.woff) format("woff")
  }

  @font-face {
    font-family: Nunito;
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: local("Nunito"),
      url(/fonts/nunito-v16-latin-700.woff2) format("woff2"),
      url(/fonts/nunito-v16-latin-700.woff) format("woff")
  }

  html {
    font-size: 62.5%;
    word-wrap: break-word
  }

  body {
    /* https://markdotto.com/2018/02/07/github-system-fonts/ */
    font-family: var(--base-font-family);
    font-size: var(--base-font-size);
    line-height: var(--base-line-height);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: var(--color-text-default);
    background-color: var(--color-background-default);

    word-wrap: break-word;
    overflow-wrap: break-word;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  strong,
  b {
    color: var(--color-text-default);
  }

  h1 {
    font-size: 37px;
    line-height: 58px;
    margin-bottom: 30px;
  }

  h2 {
    font-size: 29px;
    line-height: 46px;
    margin-top: 49px;
    margin-bottom: 19px;
  }

  h3 {
  	font-size: 23px;
  	line-height: 37px;
  	margin-top: 30px;
  	margin-bottom: 12px;
  }
  
  h4 {
  	font-size: 18px;
  	line-height: 30px;
  	font-weight: bold;
  	margin-bottom: 7px;
  }

  a, a:visited {
    color: var(--color-primary);
    /*color: #ff5e6c;*/
  }

  a:hover {
    text-decoration-thickness: 2px;
  }

  a.permalink {
    text-decoration: none;
  }

  header,
  main,
  footer {
    max-width: var(--content-max-width);
    margin: auto;
    padding: 0 20px;
  }

  .title {
    text-decoration: none;
    border: 0;
  }

  .title span {
    font-weight: 400;
  }

  nav a {
    margin-right: 10px;
  }

  textarea {
    width: 100%;
    font-size: 16px;
  }

  input {
    font-size: 16px;
  }

  content {
    line-height: var(--base-line-height);
  }

  article {
    margin-bottom: 40px;
    padding-bottom: 40px;
  }

  h1.single {
    margin-bottom: 0;
  }

  article span.datetime {
    margin: 0;
    font-style: italic;
  }

  article .lastmod {
    text-align: right;
    font-style: italic;
    font-size: smaller;
  }

  article .tags a {
    margin-right: 5px;
  }

  p, ul, ol, blockquote, pre {
    margin-bottom: 30px;
  }

  figure {
    word-break: break-word;
    margin: 0;
    line-height: 1.3;
  }

  figure img {
    max-width: var(--content-max-width);
    width: 100%;
  }

  figcaption {
    font-style: italic;
    text-align: center;
    color: var(--color-text-offset);
  }

  figcaption p {
    margin: 0;
    font-size: small;
  }

  table {
    width: 100%;
  }

  img {
    max-width: 100%;
  }

  code {
    padding: 2px 5px;
    background-color: var(--color-code-background); /*  #f2f2f2; */
    color: var(--color-code-text);
  }

  pre code {
    display: block;
    padding: 20px;
    font-size: 14px;
  }

  div.highlight code {
    background-color: unset;
    color: unset;
  }

  blockquote {
    border-left: 3px solid /*#999*/;
    border-left-color: var(--color-primary);
    color: var(--color-text-default); /* #222; */
    padding-left: 20px;
    font-style: italic;
  }

  footer {
    border-top: 2px dotted var(--color-text-default);
    text-align: center;
  }

  .helptext {
    color: #777;
    font-size: small;
  }

  .errorlist {
    color: #eba613;
    font-size: small;
  }

  /* blog posts */
  ul.blog-posts {
    list-style-type: none;
    padding: unset;
  }

  ul.blog-posts li {
    display: flex;
  }

  ul.blog-posts li span {
    flex: 0 0 130px;
  }

  ul.blog-posts li a:visited {
    color: var(--color-tomorrow-blue); /* #8b6fcb; */
  }

  ul.pagination {
    list-style-type: none;
    text-align: center;
  }

  ul li.page-item {
    display: inline;
    margin: 0 0.7rem;
  }

  .microblog-permalink, .microblog-permalink:visited {
    color: var(--color-text-offset);
  }

</style>