{{ define "main" }}
<h1>{{ .Title }}</h1>

Hier ist eine Liste an Kategorien denen Beiträge zugeordnet wurden. Hauptsächlich habe ich diese für die 100 Days To Offload erstellt.

<ol reversed>
  {{ range sort .Pages }}
      <li>
        <a href="{{ .Permalink }}">{{ .Title }}</a>
        <span><i>
          <time datetime='{{ .Date.Format "2006-01-02" }}'>
            ({{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }})
          </time></span>
        </i>
      </li>
  {{ end }}
</ol>

{{ end }}