{{ define "main" }}
<content>
  {{ if .Data.Singular }}
  <h3 style="margin-bottom:0">Filtering for "{{ .Title }}"</h3>
  <small>
    <a href="{{ "/blog" | relURL }}">Remove filter</a>
  </small>
  {{ end }}

    {{ range (.Paginator).Pages }}
    <article>
      <a href="{{ .Permalink }}" class="permalink"><h2>{{ .Title }}</h2></a>
      <p class="datetime">
        <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
          {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
        </time>
      </p>
      {{ .Summary }}  

      {{ if .Truncated }}
      <p>
        <a href="{{ .RelPermalink }}">Mehr lesen…</a>
      </p>
    {{ end }}
    </article>
    {{ else }}
    <p>
      No posts yet
    </p>
    {{ end }}


  <p>
    {{ template "_internal/pagination.html" . }}
  </p>
  
  {{ if .Data.Singular }}
  {{else}}
    <small>
      <div>
        {{ range .Site.Taxonomies.tags }}
        <a href="{{ .Page.Permalink }}">#{{ .Page.Title }}</a>&nbsp;
        {{ end }}
      </div>
    </small>
    {{ end }}
</content>
{{ end }}
