{{ define "main" }}
<h1>{{ .Title }}</h1>
{{ .Content }}

{{ range .Pages.GroupByDate "2006-01" }}
  <h2>{{ .Key }}</h2>
  <ul class="blog-posts">
  {{ range (where .Pages "Type" "blog") }}
  <li>
    <span><i>
        <time datetime='{{ .Date.Format "2006-01-02" }}'>
          {{ .Date.Format (default "2006-01-02" .Site.Params.dateFormat) }}
        </time>
      </i></span>
    <a href="{{ .Permalink | relURL }}" rel="bookmark" title="{{.Title}}">{{ .Title }}</a>
  </li>
  {{ else }}
  <li>
    No posts yet
  </li>
  {{ end }}
  </ul>
{{ end }}

{{ if .Data.Singular }}
{{else}}
<p>
  <small>
    {{ range .Site.Taxonomies.tags }}
    <a href="{{ .Page.Permalink }}" rel="tag">#{{ .Page.Title }}</a>&nbsp;
    {{ end }}
  </small>
</p>
{{ end }}
{{ end }}