{{ define "main" }}
  {{ if eq .Type "blog" }}{{ if not .Params.menu }}
  <h1 class="single">{{ .Title }}</h1>
  <span class="datetime">
    <time datetime='{{ .Date.Format "2006-01-02" }}' pubdate>
      {{ .Date.Format (default "02 Jan, 2006" .Site.Params.dateFormat) }}
    </time>
  </span>
  {{ end }}{{ end }}

  {{ .Content }}

  <p class="meta-data">
  {{ if (.GetTerms "categories") -}}    
    <span class="categories">
      Kategorie:  
      {{ range (.GetTerms "categories") -}}
      <a href="{{ .Permalink }}" rel="category">{{- .LinkTitle -}}</a>
      {{- end -}}
    </span>
    <br />
  {{- end }}
  {{ if (.GetTerms "tags") -}}
    <span class="tags">
      Schlagwörter: {{ range (.GetTerms "tags") -}}
      <a href="{{ .Permalink }}" rel="tag">#{{- .LinkTitle -}}</a>
      {{ end -}}
    </span>
  {{- end }}
  </p>
  {{ with $.Param "100dto" }}
  <p><i>Beitrag {{ $.Param "100dto" }} der <a href="https://100daystooffload.com" target="_blank" rel="noopener">#100DaysToOffload</a> Herausforderung.</i>
  </p>
  {{ end }}

  {{ if eq .Type "blog" }}
    {{ partial "comments" . }}
  {{ end }}

  {{ if and (eq .Kind "page") ($.GitInfo) }}
  <span class="lastmod">
    Letzte Aktualisierung am <a href="https://github.com/cblte/zn80-net/commit/{{ .GitInfo.Hash }}">{{ .Page.Lastmod.Format "02 Jan, 2006 15:04" }}</a>
  </span>
  <br/>
  {{ end }}

{{ end }}

