+++
title = "Security Now 785 Formal Verification"
publishDate = "2020-10-01T11:41:00.000Z"
tags = ["Linkpost"]
+++

Habe gerade die [Folge 785 von Security Now](https://twit.tv/shows/security-now/episodes/785?autostart=false) angehört und war sehr überrascht, dass [Steve Gibson](https://www.grc.com/) bisher noch nicht von [DuckDuckGo](https://duckduckgo.com/) gehört hat. Dabei ist es doch eine meiner Lieblingssuchmaschinen.

<!--more-->

[Steve Gibson](https://www.grc.com/sn/sn-785.pdf) (Seite 7, pp3) hat sagt:

> So, okay. We've never talked about DuckDuckGo except maybe in passing. And maybe I'm showing my age, but just naming something DuckDuckGo and then saying, oh, yeah, this is the privacy-protecting anti-tracking search engine, it's like, okay, are you guys serious, really? DuckDuckGo? But what brought it onto my radar is it's breaking records. They had and recently reported that August was 2 billion searches, 4 million of their app extension installs, 65 million – and I really did appreciate this, they said “Guesstimated active users. We really don't know because... privacy.”

Ja gut, der Name ist schon ziemlich komisch, und der Name *Duck Duck Go* kommt von den Kinderspiel [*Duck Duck Goose*](https://en.wikipedia.org/wiki/Duck,_duck,_goose). Hier in Deutschland kennen wir das aber wohl eher unter dem Namen [*Plumbsack*](https://de.wikipedia.org/wiki/Fangen#Plumpsack). Haben wir bestimmt alle irgendwann in unserer Kindheit mal gespielt.

Aber eigentlich freut mich viel mehr, dass *DuckDuckGo* so unglaublich viele neue Nutzer bekommen hat. Also, davon ist auszugehen wenn man sich die Zahlen anschaut. Wie viele Nutzer es wirklich sind, kann man nicht sagen, DuckDuckGo speichert ja keine Nutzerstatistiken. Und das ist auch gut so.

Hast du [DuckDuckGo](https://duckduckgo.de) schon mal ausprobiert?
